<!DOCTYPE html>
<html id="app">

<head>
    <title>singularity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../css/vendor/waves.css" />
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/themes/flat-main.css">
    <script>
        var isNwjs = false;
        try {
            isNwjs = (typeof require('nw.gui') !== 'undefined');
            console.log('Running in NW.js');
        } catch(e) {
            isNwjs = false;
            console.log('Running in browser');
        }
    </script>
</head>

<body class="flat-main">
    <div class="menubar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="winRefresh" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="REFRESH"><i class="fa fa-refresh"></i></a></li>
            <li><a href="#" id="winMinimize" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="MINIMIZE"><i class="fa fa-minus"></i></a></li>
            <li><a href="#" id="winMaximize" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="MAXIMIZE"><i class="fa fa-square-o"></i></a></li>
            <li><a href="#" id="winClose" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" title="CLOSE"><i class="fa fa-times"></i></a></li>
        </ul>
    </div>

    <div class="full-container">
        <div class="app-container">
            <div class="row content-container">
                <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-expand-toggle">
                                <i class="fa fa-bars icon"></i>
                            </button>
                            <ol class="breadcrumb navbar-breadcrumb">
                                <li class="active">Dashboard</li>
                            </ol>
                            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                                <i class="fa fa-th icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                            <li class="now-playing-header">
                                <i class="fa fa-music"></i>&nbsp;&nbsp;
                                <span id="currentSongTitle"><%- currentSong %></span>
                                &nbsp;&nbsp;<i class="fa fa-music"></i>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-comments-o"></i></a>
                                <ul class="dropdown-menu animated fadeInDown">
                                    <li class="title">
                                        Notifications <span class="badge pull-right">0</span>
                                    </li>
                                    <li class="message">
                                        No new notification
                                    </li>
                                </ul>
                            </li>
                            <!--
                            <li class="dropdown danger">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-star-half-o"></i> 4</a>
                                <ul class="dropdown-menu danger  animated fadeInDown">
                                    <li class="title">
                                        Notification <span class="badge pull-right">4</span>
                                    </li>
                                    <li>
                                        <ul class="list-group notifications">
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge">1</span> <i class="fa fa-exclamation-circle icon"></i> new registration
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge success">1</span> <i class="fa fa-check icon"></i> new orders
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item">
                                                    <span class="badge danger">2</span> <i class="fa fa-comments icon"></i> customers messages
                                                </li>
                                            </a>
                                            <a href="#">
                                                <li class="list-group-item message">
                                                    view all
                                                </li>
                                            </a>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            -->
                            <li class="dropdown profile">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%- channel %> <span class="caret"></span></a>
                                <ul class="dropdown-menu animated fadeInDown">
                                    <li class="profile-img">
                                        <img id="profile-dropdown-logo" src="" width="150px" height="150px" class="profile-img">
                                    </li>
                                    <li>
                                        <div class="profile-info">
                                            <h4 class="username"><%- channel %></h4>
                                            <p>twitch.tv/<%- channel %></p>
                                            <div class="btn-group margin-bottom-2x" role="group">
                                                <button id="extTwitchProfile" type="button" class="btn btn-default waves-effect"><i class="fa fa-external-link"></i> Profile</button>
                                                <button id="extTwitchChannel" type="button" class="btn btn-default waves-effect"><i class="fa fa-external-link"></i> Channel</button>
                                                <a href="/logout"><button type="button" class="btn btn-default waves-effect"><i class="fa fa-sign-out"></i> Logout</button></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="side-menu sidebar-inverse">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="side-menu-container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    <div class="img-container"><img src="/images/singularity_brand.png"></div>
                                    <div class="title">singularity</div>
                                </a>
                                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                    <i class="fa fa-times icon"></i>
                                </button>
                            </div>
                            <ul class="nav navbar-nav tabnav">
                                <li class="active">
                                    <a href="#dashboard" data-toggle="tab">
                                        <span class="icon fa fa-home"></span><span class="title">Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#control" data-toggle="tab">
                                        <span class="icon fa fa-television"></span><span class="title">Overlay Control</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnOpenOverlay">
                                        <span class="icon fa fa-clone"></span><span class="title">Launch Overlay</span>
                                    </a>
                                </li>
                                <!-- Dropdown-->
                                <li class="panel panel-default dropdown">
                                    <a data-toggle="collapse" href="#dropdown-icon">
                                        <span class="icon fa fa-archive"></span><span class="title">Icons</span>
                                    </a>
                                    <!-- Dropdown level 1 -->
                                    <div id="dropdown-icon" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="icons/glyphicons.html">Glyphicons</a></li>
                                                <li><a href="icons/font-awesome.html">Font Awesome</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#settings">
                                        <span class="icon fa fa-cog"></span><span class="title">Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
                <!-- Main Content -->
                <div class="container-fluid">
                    <div class="side-body padding-top">
                        <div class="tab-content" id="pageContent">
                            <div class="tab-pane fade in active" id="dashboard">
                                <div class="container-fluid" id="dashboard-container">
                                    <div class="row stat-container">
                                        <!--
                                        <div class="col-lg-12 col-md-12 stat-container-btnCollapse">
                                            <button type="button" class="btn btn-link waves-effect"><i class="fa fa-chevron-up"></i></button>
                                        </div>
                                        -->
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a href="#">
                                                <div class="card red summary-inline waves-effect waves-light waves-block">
                                                    <div class="card-body">
                                                        <i class="icon fa fa-heart fa-4x"></i>
                                                        <div class="content">
                                                            <div class="title"><span id="follower-panel-label"><i class="fa fa-spin fa-spinner"></i></span></div>
                                                            <div class="sub-title">FOLLOWERS</div>
                                                        </div>
                                                        <div class="clear-both"></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a href="#">
                                                <div class="card yellow summary-inline waves-effect waves-light waves-block">
                                                    <div class="card-body">
                                                        <i class="icon fa fa-star fa-4x"></i>
                                                        <div class="content">
                                                            <div class="title">23</div>
                                                            <div class="sub-title">SUBSCRIBERS</div>
                                                        </div>
                                                        <div class="clear-both"></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a href="#">
                                                <div class="card green summary-inline waves-effect waves-light waves-block">
                                                    <div class="card-body">
                                                        <i class="icon fa fa-tags fa-4x"></i>
                                                        <div class="content">
                                                            <div class="title">280</div>
                                                            <div class="sub-title">Product View</div>
                                                        </div>
                                                        <div class="clear-both"></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <a href="#">
                                                <div class="card blue summary-inline waves-effect waves-light waves-block">
                                                    <div class="card-body">
                                                        <i class="icon fa fa-eye fa-4x"></i>
                                                        <div class="content">
                                                            <div class="title"><span id="views-panel-label"><i class="fa fa-spin fa-spinner"></i></span></div>
                                                            <div class="sub-title">VIEWS</div>
                                                        </div>
                                                        <div class="clear-both"></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="row no-margin" style="margin-bottom: 25px;">
                                                <div class="card card-success">
                                                    <div class="card-header">
                                                        <div class="card-title">
                                                            <div class="title"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<strong>STREAM</strong> INFO</div>
                                                        </div>
                                                        <div class="pull-right card-action">
                                                            <div class="btn-group" role="group" aria-label="...">
                                                                <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseStatus" aria-expanded="false" aria-controls="collapseStatus">
                                                                    <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clear-both"></div>
                                                    </div>
                                                    <div id="collapseStatus" class="panel-collapse collapse in">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="float-left col-lg-1" style="margin-top: -5px;"><i class="fa fa-tag fa-2x fa-body fa-fw"></i></div>
                                                                <div id="streamTitle" class="float-right col-lg-11" data-toggle="tooltip" data-placement="top" title="CLICK TO EDIT">LOADING... <i class="fa fa-spin fa-spinner fa-body"></i></div>
                                                                <div class="clear-both"></div>
                                                            </div>
                                                            <div class="row no-margin-bottom">
                                                                <div class="float-left col-lg-1" style="margin-top: -5px;"><i class="fa fa-gamepad fa-2x fa-body fa-fw"></i></div>
                                                                <div id="streamGame" class="float-right col-lg-11" data-toggle="tooltip" data-placement="top" title="CLICK TO EDIT">LOADING... <i class="fa fa-spin fa-spinner fa-body"></i></div>
                                                                <div class="clear-both"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="card card-success">
                                                        <div class="card-header">
                                                            <div class="card-title">
                                                                <div class="title"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;<strong>RECENT</strong> FOLLOWERS</div>
                                                            </div>
                                                            <div class="pull-right card-action">
                                                                <div class="btn-group" role="group" aria-label="...">
                                                                    <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseEvents" aria-expanded="false" aria-controls="collapseEvents">
                                                                        <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear-both"></div>
                                                        </div>
                                                        <div id="collapseEvents" class="panel-collapse collapse in">
                                                            <div class="card-body no-padding no-margin-bottom" id="followerTable">
                                                                <table class="table table-striped">
                                                                    <!--
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="col-lg-3 text-center">TIME</th>
                                                                            <th class="col-lg-9">NAME</th>
                                                                            <th>NOTIFICATIONS?</th>
                                                                        </tr>
                                                                    </thead>
                                                                     -->
                                                                    <tbody>
                                                                        <tr v-for="follower in followers" transition="stagger" stagger="100">
                                                                            <td class="col-lg-3 table-follower-time text-center">{{ follower.time }}</td>
                                                                            <td class="col-lg-9 table-follower-name">{{ follower.name }}</td>
                                                                            <!-- <td>{{ follower.notifications }}</td> -->
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="card card-success">
                                                        <div class="card-header">
                                                            <div class="card-title">
                                                                <div class="title"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;<strong>STREAM</strong> PREVIEW</div>
                                                            </div>
                                                            <div class="pull-right card-action">
                                                                <div class="btn-group" role="group" aria-label="...">
                                                                    <div class="btnCollapsePanel twitch-player" role="button" data-toggle="collapse" href="#collapseTwitchPlayer" aria-expanded="false" aria-controls="collapseTwitchPlayer">
                                                                        <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-up" style="color: white;"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear-both"></div>
                                                        </div>
                                                        <div id="collapseTwitchPlayer" class="panel-collapse collapse" role="tabpanel">
                                                            <div class="card-body no-padding no-margin-bottom">
                                                                <iframe src="" id="streamEmbed" height="400" width="100%" frameborder="0" scrolling="no" allowfullscreen=""></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <!--
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="card primary">
                                                        <div class="card-jumbotron no-padding">
                                                            <canvas id="jumbotron-bar-chart" class="chart no-padding"></canvas>
                                                        </div>
                                                        <div class="card-body half-padding">
                                                            <h4 class="float-left no-margin font-weight-300">Orders</h4>
                                                            <div class="clear-both"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="card primary">
                                                        <div class="card-jumbotron no-padding">
                                                            <canvas id="jumbotron-line-2-chart" class="chart no-padding"></canvas>
                                                        </div>
                                                        <div class="card-body half-padding">
                                                            <h4 class="float-left no-margin font-weight-300">Pages view</h4>
                                                            <div class="clear-both"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            -->
                                            <div class="card card-success">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <div class="title"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;<strong>TWITCH</strong> CHAT</div>
                                                    </div>
                                                    <div class="pull-right card-action">
                                                        <div class="btn-group" role="group" aria-label="...">
                                                            <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseChat" aria-expanded="false" aria-controls="collapseChat">
                                                                <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear-both"></div>
                                                </div>
                                                <div id="collapseChat" class="panel-collapse collapse in">
                                                    <div class="card-body no-padding no-margin-bottom">
                                                        <iframe frameborder='0' id='chat_embed' src="//www.twitch.tv/<%- channel %>/chat" height='675' width='100%' scrolling='yes' nwfaketop></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="control">
                                <div class="container-fluid" id="overlayControl">

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <!-- FOLLOWER -->
                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <div class="title">FOLLOWER</div>
                                                    </div>
                                                    <div class="pull-right card-action">
                                                        <div class="btn-group" role="group" aria-label="...">
                                                            <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseFollow" aria-expanded="false" aria-controls="collapseFollow">
                                                                <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear-both"></div>
                                                </div>
                                                <div id="collapseFollow" class="panel-collapse collapse in">
                                                    <div class="card-body">
                                                        <form class="form-horizontal" onSubmit="return false;">
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                                                    <input type="text" id="testFollowerUser" name="user" class="form-control" value="<%= channel %>">
                                                                </div>
                                                            </div>
                                                            <button id="btnTestFollower" type="submit" class="btn btn-info pull-right waves-effect waves-light">SEND</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <!-- HOST -->
                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <div class="title">HOST</div>
                                                    </div>
                                                    <div class="pull-right card-action">
                                                        <div class="btn-group" role="group" aria-label="...">
                                                            <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseHost" aria-expanded="false" aria-controls="collapseHost">
                                                                <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear-both"></div>
                                                </div>
                                                <div id="collapseHost" class="panel-collapse collapse in">
                                                    <div class="card-body">
                                                        <form class="form-horizontal" onSubmit="return false;">
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                                                    <input type="text" id="testHostUser" name="user" class="form-control" value="<%= channel %>">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-eye fa-fw"></i></div>
                                                                    <input type="number" id="testHostViewers" name="viewers" class="form-control" value="10">
                                                                </div>
                                                            </div>
                                                            <button id="btnTestHost" type="submit" class="btn btn-info fresh-color pull-right waves-effect waves-light">SEND</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <!-- SUBSCRIBER -->
                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <div class="title">SUBSCRIBER</div>
                                                    </div>
                                                    <div class="pull-right card-action">
                                                        <div class="btn-group" role="group" aria-label="...">
                                                            <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseSub" aria-expanded="false" aria-controls="collapseSub">
                                                                <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear-both"></div>
                                                </div>
                                                <div id="collapseSub" class="panel-collapse collapse in">
                                                    <div class="card-body">
                                                        <form class="form-horizontal" onSubmit="return false;">
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                                                    <input type="text" id="testSubUser" name="user" class="form-control" value="<%= channel %>">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></div>
                                                                    <input type="number" id="testSubMonths" name="duration" class="form-control" placeholder="# Months">
                                                                </div>
                                                            </div>
                                                            <button id="btnTestSub" type="submit" class="btn btn-info fresh-color pull-right waves-effect waves-light">SEND</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <!-- TIP -->
                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <div class="title">TIP</div>
                                                    </div>
                                                    <div class="pull-right card-action">
                                                        <div class="btn-group" role="group" aria-label="...">
                                                            <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseTip" aria-expanded="false" aria-controls="collapseTip">
                                                                <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear-both"></div>
                                                </div>
                                                <div id="collapseTip" class="panel-collapse collapse in">
                                                    <div class="card-body">
                                                        <form class="form-horizontal" onSubmit="return false;">
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                                                    <input type="text" id="testTipUser" name="user" class="form-control" value="<%= channel %>">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-dollar fa-fw"></i></div>
                                                                    <input type="number" id="testTipAmt" name="amount" class="form-control" value="10">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
                                                                    <input type="text" id="testTipMsg" name="message" class="form-control" placeholder="Message">
                                                                </div>
                                                            </div>
                                                            <button id="btnTestTip" type="submit" class="btn btn-info fresh-color pull-right waves-effect waves-light">SEND</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <!-- NOW PLAYING -->
                                            <div class="card card-info">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <div class="title">NOW PLAYING</div>
                                                    </div>
                                                    <div class="pull-right card-action">
                                                        <div class="btn-group" role="group" aria-label="...">
                                                            <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseNowPlaying" aria-expanded="false" aria-controls="collapseNowPlaying">
                                                                <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down" style="color: white;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear-both"></div>
                                                </div>
                                                <div id="collapseNowPlaying" class="panel-collapse collapse in">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="well">
                                                                    <div><h6><i class="fa fa-music"></i>&nbsp;&nbsp;CURRENT SONG</h6></div>
                                                                    <div id="currentSongTitlePanel"><%- currentSong %></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="pull-right">
                                                                    <button id="btnSendCurrentSong" type="submit" class="btn btn-info pull-right waves-effect waves-light">RESEND CURRENT SONG</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <form class="form-horizontal" onSubmit="return false;">
                                                            <div class="form-group">
                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                    <div class="input-group-addon"><i class="fa fa-play fa-fw"></i></div>
                                                                    <input type="text" id="testSongTitle" name="user" class="form-control" value="Never Gonna Give You Up - Rick Astley">
                                                                </div>
                                                            </div>
                                                            <div class="pull-right">
                                                                <button id="btnTestMusic" type="submit" class="btn btn-info waves-effect waves-light">SEND</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="settings">
                                <div class="container-fluid" id="settingsPanel">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <div class="title">TIPEEESTREAM SETUP</div>
                                                    </div>
                                                    <div class="pull-right card-action">
                                                        <div class="btn-group" role="group">
                                                            <div class="btnCollapsePanel" role="button" data-toggle="collapse" href="#collapseTipeee" aria-expanded="false" aria-controls="collapseTipeee">
                                                                <button type="button" class="btn btn-link waves-effect waves-light"><i class="fa fa-chevron-down"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear-both"></div>
                                                </div>
                                                <div id="collapseTipeee" class="panel-collapse collapse in">
                                                    <div class="card-body">
                                                        <% if (!tipeeeEnabled) { %>
                                                            <div class="step">
                                                                <ul class="nav nav-tabs nav-justified" role="tablist">
                                                                    <li role="step" class="active">
                                                                        <a href="#step1" id="step1-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" data-ytta-id="-">
                                                                            <div class="icon fa fa-arrow-right"></div>
                                                                            <div class="step-title">
                                                                                <div class="title">INSERT COIN</div>
                                                                                <div class="description">Get your API key</div>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li role="step" class="">
                                                                        <a href="#step2" role="tab" id="step2-tab" data-toggle="tab" aria-controls="profile" data-ytta-id="-" aria-expanded="false">
                                                                            <div class="icon fa fa-key"></div>
                                                                            <div class="step-title">
                                                                                <div class="title">KEY TO THE KINGDOM</div>
                                                                                <div class="description">We're going to need that</div>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                    <li role="step">
                                                                        <a href="#step3" role="tab" id="step3-tab" data-toggle="tab" aria-controls="profile" data-ytta-id="-">
                                                                            <div class="icon fa fa-check-circle-o"></div>
                                                                            <div class="step-title">
                                                                                <div class="title">NAILED IT</div>
                                                                                <div class="description"></div>
                                                                            </div>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content">
                                                                    <div role="tabpanel" class="tab-pane fade active in" id="step1">
                                                                        <p class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                            <strong>singularity</strong> supports tip alerts through TipeeeStream. To activate this feature, you'll need to get
                                                                            your API key. Due to a limitation of TipeeeStream's API, we can't do this automatically, so please click the link below
                                                                            to open TipeeeStream's dashboard in a new window where you can copy the API key. Then come back here to submit it.
                                                                        </p>
                                                                        <div class="text-center">
                                                                            <button href="" id="extTipeeeKey" class="btn btn-primary btn-tipeeeStart waves-effect waves-light">
                                                                                GO TO TIPEEESTREAM&nbsp;&nbsp;<i class="fa fa-external-link"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div role="tabpanel" class="tab-pane fade" id="step2">
                                                                        <p class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                            Enter the API key you just grabbed from Tipeee below, then click <strong>SUBMIT</strong>.
                                                                        </p>
                                                                        <form class="form-horizontal" onSubmit="return false;">
                                                                            <div class="form-group">
                                                                                <div class="input-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                                    <div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>
                                                                                    <input type="text" id="tipeeeKeyInput" name="user" class="form-control" placeholder="TipeeeStream API Key">
                                                                                </div>
                                                                            </div>
                                                                            <div class="pull-right">
                                                                                <button href="" id="btnTipeeeKey" type="submit" class="btn btn-info waves-effect waves-light">SUBMIT</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div role="tabpanel" class="tab-pane fade" id="step3">
                                                                        <p class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                                                            We got it, thanks! TipeeeStream tip alerts have been activated. To fully enable them, close and re-open <strong>singularity</strong>.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <% } else { %>
                                                            <div id="deact-modal-container">
                                                                <p>TipeeeStream has already been enabled. If you want to disable it, click the button below.</p>

                                                                <modal :show.sync="showModal"></modal>
                                                                <button type="button" class="btn btn-warning waves-effect waves-light disabled">DEACTIVATE</button>
                                                                <p>( deactivation coming soon )</p>
                                                            </div>
                                                        <% } %>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="app-footer">
                <div class="wrapper">
                    <span class="pull-right">top <a href="#"><i class="fa fa-long-arrow-up"></i></a></span>
                    singularity
                </div>
            </footer>
        </div>
    </div>
        <!-- ejs -->
        <script>
            var channel = '<%= channel %>';
            var token = '<%= token %>';
            var channelAvatar = '<%= channelAvatar %>';
            var clientID = '<%= clientID %>';
            var currentSong = '<%= currentSong %>';
            var followerObj = '<%- JSON.stringify(followerObj) %>';
        </script>
        <!-- vue -->
        <script src="../js/vendor/vue.min.js"></script>
        <!-- socket.io -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- js libs -->
        <script type="text/javascript" src="../js/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="../js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/vendor/Chart.min.js"></script>
        <script type="text/javascript" src="../js/vendor/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="../js/vendor/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" src="../js/vendor/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="../js/vendor/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/vendor/select2.full.min.js"></script>
        <script type="text/javascript" src="../js/vendor/ace/ace.js"></script>
        <script type="text/javascript" src="../js/vendor/ace/mode-html.js"></script>
        <script type="text/javascript" src="../js/vendor/ace/theme-github.js"></script>
        <script type="text/javascript" src="../js/vendor/moment.min.js"></script>
        <script type="text/javascript" src="../js/vendor/waves.js"></script>
        <!-- js -->
        <script type="text/javascript" src="../js/app.js"></script>
        <script type="text/javascript" src="../js/menubar.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
</body>

</html>
